* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    /* deep blue */
    --accent1-color: #000000;
    /* black */
    --accent2-color: #055a05;
    /* forest green */

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

header {
    /* background-color: black; */
    /* color: var(--accent2-color); */
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 10px 30px;
    margin: 10px auto;
}

.header img {
    width: 120px;
    height: 120px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    background-color: var(--accent2-color);

}

header nav a {
    text-decoration: none;
    color: var(--accent1-color);
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.history h2 {
    grid-column: 1/4;
}

.history img {
    grid-column: 2/3;
    width: 200px;
    height: 200px;
    align-self: center;
}

.history h2,
.adventure-flex h2 {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    width: 95%;
    margin: 0 auto;
    background-color: var(--accent1-color);
    color: var(--primary-color);

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    margin: 1px;
    border: var(--primary-color);
    width: 125px;
}

.history h2,
.adventure h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.adventure {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    margin: 20px 0 20px 0;

}

.adventure img {
    width: 100px;
    height: 100%;
}

.adventure figcaption {
    text-align: center;
    color: var(--accent1-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--accent1-color)
}

.socialmedia {
    display: flex;
    gap: 50px;
    /* text-decoration: none; */
    /* background-color: #fff; */
}

footer nav a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

footer p {
    flex-grow: 1;
    text-align: center;

}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;

}

.company-info h1,
h3 {
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--primary-color);

}

.employees {
    display: flex;
    justify-content: space-evenly;
    gap: 20px 0;
}

.employees img {
    width: 80%;
    height: 80px;
}

.employees figcaption {
    text-align: center;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;

}

.contact-form form {
    display: grid;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 8px;
}

.column1 {
    grid-template-columns: 1fr 3fr;
    align-self: start;
}

.message-purpose {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message {
    gap: 0;
}

.contact-form button {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--accent1-color);
}

.company-info h2 {
    position: absolute;
}

.trip-info {
    position: relative;
}

.trip-info img {
    display: block;
    width: 100%;
    height: auto;
}

.view {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    padding: 16px 40px;
    text-align: center;
    color: black;
    background-color: beige;
    font-size: 1rem;
    border-radius: 60px;
}

.view a {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

.letter,
.letter p {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 40px;
    margin: 0;

}

.letter form {
    display: grid;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}