:root {
    --primary-color: #fff;
    /* deep blue */
    --accent1-color: #000000;
    /* black */
    --accent2-color: #055a05;
    /* forest green */

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    /* background-color: var(--primary-color); */
    /* color: var(--accent2-color); */
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 10px 30px;
}

header img {
    width: 120px;
    height: 120px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

header nav a {
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    width: 100%;
    padding: 10px;
    text-align: flex-end;

}

.company-info {
    text-align: center;
    margin: 20px;
}

.map-section iframe {
    width: 40%;
    height: 500px;
    border: none;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.employees {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.employees img {
    width: 100%;
    height: 100px;
}

.employees figcaption {
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    text-align: flex-end;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 8px;
}

.contact-form button {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--accent2-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--accent1-color)
}

.socialmedia {
    display: flex;
    gap: 60px;
    /* text-decoration: none; */
    /* background-color: #fff; */
}

footer nav a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

footer p {
    flex-grow: 1;
    text-align: center;

}