:root {
    --primary-color: #fff;
    /* deep blue */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #055a05;
    /* forest green */

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    width: 100%;
    padding: 10px;
    text-align: center;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    background-color: #fff;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text */
}

.hero article {

    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    background-color: var(--accent1-color);
    color: #fff;
    /* white */
}

.hero article img {
    float: right;
    width: 125px;
}